:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: #041c65;
  --inverted-primary-color: #04ff04;
  --secondary-color: #0449e0;
  --inverted-secondary-color: #049604;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
  --card-bg: #cbcbce;
}
