.orange {
  --bg-color: #146c94;
  --inverted-bg-color: #27005d;
  --primary-color: #e4f1ff;
  --inverted-primary-color: #aed2ff;
  --secondary-color: #9400ff;
  --inverted-secondary-color: #bc7af9;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
  --card-bg: #cbcbce;
}
