.card {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.field {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.label {
  width: 100px;
  margin-right: 20px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.edit {
  border: 2px solid var(--inverted-primary-color);
}
